/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    body {
        background-color: black;
    }	
    .homeIcon{
        display: flex;
        font-size: 2rem;
        opacity: 25;
        justify-content: center;
        cursor: pointer;
        padding: 10px;
        align-items: center;
    }

    .homeIcon:hover {
        opacity: 50;
        transition: opacity 0.3s ease-in-out;
        transform: scale(1.1);
        color: #00ADB5;
    }

    .footerIcon{
        display: flex;
        font-size: 1.5rem;
        opacity: 25;
        justify-content: center;
        cursor: pointer;
        padding: 10px;
        align-items: center;
    }

    .footerIcon:hover {
        opacity: 50;
        transition: opacity 0.3s ease-in-out;
        transform: scale(1.1);
        color: #00ADB5;
    }

    /* .bgOpacity {
        background: black;
        opacity: 0.4;
    } */

    ::-webkit-scrollbar {
        width: 8px;
    }
      
    ::-webkit-scrollbar-thumb {
        background-color: #11A5A5;
        border-radius: 10px;
    }
}

.active {
    color: #00ADB5;
    border-bottom: 3px solid #00ADB5;
}

.scrollbar::-webkit-scrollbar {
    display: none;
}